/********** ANIMASJON *********/
@media (min-width: 750px) {
  .pizza1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pizza2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tekst1 {
    padding-left: 1rem;
  }
  .tekst2 {
    padding-right: 1rem;
  }
  .fs1 {
    padding-top: 2rem;
  }
  .bg1 {
    padding-top: 1.3rem;
  }
  .ra {
    padding-left: 1rem;
  }
  .pa1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 17rem;
    padding-right: 1rem;
  }
  .tekst2 {
    grid-column: 1;
    grid-row: 1;
  }
  .tekst3 {
    grid-column: 1;
    grid-row: 1;
  }
}
@media (max-width: 750px) {
  .pizza1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .tekst2 {
    grid-row: 1;
  }
  .fs1 {
    grid-row: 2;
  }
}

.fs1 {
  margin-bottom: 0.5rem;
}
.bg1 {
  margin-bottom: 0.2rem;
}

/************* INDEX ***********/
img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
  border-radius: 0;
}
/****** mobilversjon ****/

/***forside***/
@media (max-width: 750px) {
  .bilde_container {
    position: relative;
    display: inline-block;
  }

  .bilde_container img {
    display: block;
    width: 100%;
    height: auto;
  }

  .tekst_over_bilde {
    position: absolute;
    top: 45%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: rgb(1, 1, 208);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .tekst_over_bilde_h1 {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #f6ebd7;
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
  }
  .container1 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    text-decoration: none;
  }
  .h33 {
    font-size: 2rem;
    color: rgb(1, 1, 208);
    font-weight: 500;
  }
}

/****** desktop ******/
@media (min-width: 750px) {
  .h33 {
    font-size: 3.5rem;
    color: rgb(1, 1, 208);
    font-weight: 500;
  }

  .bilde_container {
    position: relative;
    display: inline-block;
  }

  .bilde_container img {
    display: block;
    width: 100%;
    height: auto;
  }

  .tekst_over_bilde {
    position: absolute;
    top: 45%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: rgb(1, 1, 208);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .tekst_over_bilde_h1 {
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #f6ebd7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .links_index {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .box5 {
    grid-column: 1/3;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    place-self: center;
    text-align: center;
  }

  .box1 img,
  .box2 img,
  .box3 img,
  .box4 img,
  .box5 img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s;
  }

  .box1:hover img,
  .box2:hover img,
  .box3:hover img,
  .box4:hover img,
  .box5:hover img {
    filter: grayscale(0%);
  }

  .image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
  }

  .tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .box1:hover .tekst,
  .box2:hover .tekst,
  .box3:hover .tekst,
  .box4:hover .tekst,
  .box5:hover .tekst {
    opacity: 1;
  }
}

/****** mobile ******/
@media (max-width: 750px) {
  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    place-self: center;
    text-align: center;
  }

  .box1 img,
  .box2 img,
  .box3 img,
  .box4 img,
  .box5 img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s;
    margin: 0 auto;
  }

  .box1:hover img,
  .box2:hover img,
  .box3:hover img,
  .box4:hover img,
  .box5:hover img {
    filter: grayscale(0%);
  }

  .image-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .box1:hover .tekst,
  .box2:hover .tekst,
  .box3:hover .tekst,
  .box4:hover .tekst,
  .box5:hover .tekst {
    opacity: 1;
  }
}

.grid_1-1-1-1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #0b1fd3;
  font-size: 2rem;
  padding: 0.4rem;
  transition: color 0.3s ease;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
  align-items: center;
}

.custom-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: rgb(0, 0, 0);
}

.prosjekt_h2 {
  text-align: center;
}

/************ INNHOLD *************/
.kilo_vintage {
  font-family: Arial, Helvetica, sans-serif;
  color: #0b1fd3;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 2rem;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  /* border-radius: 30px; */
}
img {
  width: 100%;
  height: auto;
  /* border-radius: 30px; */
}
@media (min-width: 750px) {
  .grid_passion {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .resultat {
    grid-column: 1;
    grid-row: 2;
    padding-top: 10rem;
  }
  .video_passion {
    grid-column: 2;
    grid-row: 2;
    margin-top: 3rem;
  }
  .rollen {
    grid-column: 1;
    grid-row: 2;
  }
  .p1 {
    grid-column: 1;
    grid-row: 1;
  }
  .bilde_passion {
    grid-column: 2;
    grid-row: 1;
    padding: 1rem;
  }
  .bilde_passion2 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 21.4rem;
  }

  .grid_virksomhet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .video_virksomhet {
    grid-column: 2;
    grid-row: 1;
    margin-top: 36rem;
  }
  .bilde_virksomhet1 {
    grid-column: 2;
    grid-row: 1;
    padding-left: 2rem;
    padding-top: 1.5rem;
  }
  .bilde_viksomhet2 {
    grid-column: 2;
    grid-row: 1;
    padding-left: 2rem;
    padding-top: 2.8rem;
    margin-top: 31rem;
  }
  .tekst_virksomhet {
    grid-column: 1;
    grid-row: 1;
    margin-top: 1rem;
  }
  .tekst_virksomhet1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 16rem;
  }
  .tekst_virksomhet2 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 36rem;
  }
  .bilde_passion {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .grid_passion {
    display: grid;
    grid-template-columns: 1fr;
  }
  .bilde_passion {
    grid-column: 1;
    grid-row: 4;
  }
  .bilde_passion2 {
    grid-column: 1;
    grid-row: 2;
  }
}
.link_knapp1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: rgb(1, 1, 208);
  border-radius: 50px;
  padding: 15px 32px;
  text-decoration: none;
}
p {
  padding-right: 1rem;
}
.video_passion {
  padding-bottom: 2rem;
}
.video_virksomhet {
  padding-bottom: 2rem;
}
h4 {
  color: #0b1fd3;
}

/************** OM MEG ***************/
img {
  width: 100%;
}

@media (min-width: 750px) {
  .bilde_meg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    filter: grayscale(100%);
    padding-top: 1rem;
  }

  .grid_meg {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bilde_meg {
    grid-column: 1;
    grid-row: 1;
    margin-top: 10rem;
  }
  .h1 {
    grid-column: 1;
    grid-row: 1;
  }
  .links_meg {
    grid-column: 2;
    grid-row: 3;
  }
  .tekst_meg {
    padding-top: 8.7rem;
  }
}

@media (max-width: 750px) {
  .bilde_meg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    filter: grayscale(100%);
  }
}
.tekst_meg {
  padding-right: 1rem;
}

.p1,
.p2,
.p3 {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  /* color: rgb(0, 0, 125); */
  line-height: 1.4;
}

/************** UX/UI *************/
@media (min-width: 750px) {
  .grid_ux {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tekst_ux {
    padding-right: 1rem;
  }
}

/************** WEB ************/
@media (min-width: 750px) {
  .grid_web {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hund_bilde {
    width: 100%;
    padding: 1rem;
  }
  .hund_bilde1 {
    grid-column: 2;
    grid-row: 1;
    padding-top: 39rem;
  }
  .hund_bilde {
    grid-column: 2;
    grid-row: 1;
    padding-top: 2rem;
  }
  .hund_bilde2 {
    grid-column: 1;
    grid-row: 1;
    padding-top: 39em;
    margin-right: 1rem;
  }
  .tekst_web {
    grid-row: 1;
    grid-column: 1;
  }
  .tekst_web1 {
    grid-column: 1;
    grid-row: 1;
  }
  .resultat_grid {
    grid-column: 1;
    grid-row: 1;
    margin-top: 19rem;
  }
}

@media (max-width: 750px) {
  .grid_web {
    display: grid;
    grid-template-columns: 1fr;
  }
  .tekst_web1 {
    grid-row: 1;
  }
  .tekst_web {
    padding-bottom: 1rem;
  }
  .hund_bilde {
    grid-row: 2;
  }
}
